/* color palette from <https://github.com/vuejs/theme> */
:root {
    /* color-variables */
    /*主要色 */
    --primary: #5E28AD;
    --primary-30: #5E28AD30;

    /*白色*/
    --white: #fff;
    --sec-gray:#C6CACE;
    /*--white-70: #ffffff70;*/

    /*灰色*/
    --txt-default: #02021C;
    --txt-placeholder: #656D76;

    /*!*其他*!*/
    /*--info-tag1: #faf7f4;*/
    /*--info-ta2: #faf7f2;*/

    /* font-variables */
    --font-size-base: 16px;
    --font-h1: 96px;
    --font-h2: 32px;
    --font-h3: 20px;
    --font-h4: 14px;

    /*font-weight*/
    --fw-bold: 700;
    --fw-blank: 900;
}

h1, .fz-h1 {
    font-size: var(--font-h1);
    font-family: 'Playfair Display';
    line-height: 112px;
    letter-spacing: 10px;
}

h2, .fz-h2 {
    font-size: var(--font-h2);
    font-family: 'Itim';
    /*line-height: 48px*/
}

h3, .fz-h3 {
    font-size: var(--font-h3);
    font-weight: var(--fw-bold);
    line-height: 32px
}

h4, .fz-h4 {
    font-size: var(--font-h4);
    line-height: 24px
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --color-background: var(--vt-c-black);*/
/*        --color-background-soft: var(--vt-c-black-soft);*/
/*        --color-background-mute: var(--vt-c-black-mute);*/

/*        --color-border: var(--vt-c-divider-dark-2);*/
/*        --color-border-hover: var(--vt-c-divider-dark-1);*/

/*        --color-heading: var(--vt-c-text-dark-1);*/
/*        --color-text: var(--vt-c-text-dark-2);*/
/*    }*/
/*}*/

/**,*/
/**::before,*/
/**::after {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    position: relative;*/
/*    font-weight: normal;*/
/*}*/

/*body {*/
/*    min-height: 100vh;*/
/*    color: var(--color-text);*/
/*    background: var(--color-background);*/
/*    transition: color 0.5s, background-color 0.5s;*/
/*    line-height: 1.6;*/
/*    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,*/
/*    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;*/
/*    font-size: 15px;*/
/*    text-rendering: optimizeLegibility;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/
