/* color palette from <https://github.com/vuejs/theme> */
html:root {
    /* color-variables */
    /*主要色 */
    --primary: #5E28AD;
    --primary-30: #5E28AD30;

    /*白色*/
    --white: #fff;
    --white30: #fffff30;
    --sec-gray: #C6CACE;
    --thir-gray: #F4F5F6;
    /*--white-70: #ffffff70;*/

    /*灰色*/
    --txt-default: #02021C;
    --txt-placeholder: #656D76;

    /*!*其他*!*/
    /*--info-tag1: #faf7f4;*/
    /*--info-ta2: #faf7f2;*/

    /* font-variables */
    --font-size-base: 16px;
    --font-h1: 96px;
    --font-h2: 48px;
    --font-h3: 32px;
    --font-h4: 20px;
    --font-h5: 14px;

    /*font-weight*/
    --fw-bold: 700;
    --fw-blank: 900;
}

h1, .fz-h1 {
    font-size: var(--font-h1);
    line-height: 112px;
    letter-spacing: 10px;
    font-family: "Playfair Display";
    font-weight: var(--fw-bold);
    text-align: center;
}

h2, .fz-h2 {
    font-size: var(--font-h2);
    font-family: "Itim";
    text-align: center;
    color: var(--white);
    font-weight: var(--fw-bold);
    line-height: 58px;
}

h3, .fz-h3 {
    font-size: var(--font-h3);
    font-weight: var(--fw-bold);
    line-height: 44px;
}

h4, .fz-h4 {
    font-size: var(--font-h4);
    line-height: 32px;
}

h5, .fz-h5 {
    font-size: var(--font-h5);
    line-height: 24px;
    color: var(--txt-placeholder);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row-e {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-100 {
    width: 100%;
}

.mt-40 {
    margin-top: 40px;
}

.pos-relative {
    position: relative;
}


/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --color-background: var(--vt-c-black);*/
/*        --color-background-soft: var(--vt-c-black-soft);*/
/*        --color-background-mute: var(--vt-c-black-mute);*/

/*        --color-border: var(--vt-c-divider-dark-2);*/
/*        --color-border-hover: var(--vt-c-divider-dark-1);*/

/*        --color-heading: var(--vt-c-text-dark-1);*/
/*        --color-text: var(--vt-c-text-dark-2);*/
/*    }*/
/*}*/

/**,*/
/**::before,*/
/**::after {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    position: relative;*/
/*    font-weight: normal;*/
/*}*/

