body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 20px;

    overflow-x: hidden;
    overflow-y: auto;
}

p {
    margin-block-start: 0;
    margin-block-end: 8px;
}

a {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 1px;
}

#app {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    min-width: auto;
    height: auto;
    min-height: 100vh;
    padding: 24px;
    background: radial-gradient(50% 50% at 50% 50%, #AAB3FE 0%, #9EAAFF 71.18%, #8D9DFF 100%);

    font-family: "Manrope";
    font-size: var(--font-size-base);
    color: var(--txt-default);
    text-align: left;
}

/* @容器區塊 - content --------------------------------------------------------------------------------------------- */
.function-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 448px;
    min-width: auto;
    z-index: 1;
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 0;
    padding: 40px 40px 20px 40px;
    gap: 16px;

    width: auto;
    height: auto;

    background-color: var(--white);
    border-radius: 16px;
}

.review_content {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 24px;
    box-shadow: 0 0 8px 0 var(--sec-gray);
}

.pop_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
    z-index: 3;
}

.pop_content {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: calc(100vw - 72px);
    max-width: 448px;
    min-width: auto;
    background-color: var(--white);
    padding: 32px 16px 16px 16px;
    border-radius: 16px;
    z-index: 4;
}
