#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 96px);
    height: calc(100% - 96px);
}

/*#app {*/
/*    max-width: 1280px;*/
/*    margin: 0 auto;*/
/*    padding: 2rem;*/

/*    font-weight: normal;*/
/*}*/

body {
    display: flex;
    width: 100vw;
    height: 90ch;
    justify-content: center;
    align-items: center;

    /*background: var(--gradient-bg);*/
    /*background-image: url("../images/img_bg.png");*/
    background-size: cover;
    background: radial-gradient(50% 50% at 50% 50%, #AAB3FE 0%, #9EAAFF 71.18%, #8D9DFF 100%);

    font-family: 'Manrope';
    font-size: var(--font-size-base);
    color: var(--txt-default);
    overflow-x: hidden;
    overflow-y: auto;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}
