body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 20px;

    overflow-x: hidden;
    overflow-y: auto;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    min-width: auto;
    padding: 24px;
    background: radial-gradient(50% 50% at 50% 50%, #AAB3FE 0%, #9EAAFF 71.18%, #8D9DFF 100%);

    font-family: "Manrope";
    font-size: var(--font-size-base);
    color: var(--txt-default);
    text-align: left;
}

.function-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 448px;
    min-width: auto;
    z-index: 1;
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 0;
    padding: 40px 40px 20px 40px;
    gap: 16px;

    /*position: absolute;*/
    width: auto;
    height: auto;
    /* Base/White */

    background: #FFFFFF;
    border-radius: 16px;
}
