

/* @group [mobile_lg] ----------------------------------------------------------------------------------------*/

@media (max-width: 480px) {

    .card_content{
        padding: 20px 20px 10px 20px;
    }

    .mt-40{
        margin-top: 20px;
    }

    html:root {
        /* font-variables */
        /*--font-size-base: 16px;*/
        --font-h1: 48px;
        --font-h2: 32px;
        --font-h3: 20px;
        --font-h4: 18px;
        --font-h5: 14px;
    }


}

/* @End group [mobile_lg] ----------------------------------------------------------------------------------------*/


/* @group [mobile_sm] ----------------------------------------------------------------------------------------*/

@media (max-width: 320px) {

}

/* @End group [mobile_sm] ----------------------------------------------------------------------------------------*/
