/* @功能區塊 - block --------------------------------------------------------------------------------------------- */
.i18n-block {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.tab-block {
    width: 100%;
    height: 48px;
    background-color: var(--thir-gray);
    border-radius: 10px;
    margin-bottom: 40px;
}

.tab-block a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 4px;
    text-align: center;
    text-decoration: none;
}

.red.router-link-exact-active {
    background-color: var(--primary);
    border-radius: 8px;
    color: var(--white);
}


/* @元件 - input select --------------------------------------------------------------------------------------------- */
input, select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;

    width: auto;
    height: 48px;
    max-height: 48px;
    margin-bottom: 8px;

    background: var(--white);
    color: var(--txt-default);
    border: 1px solid var(--sec-gray);
    border-radius: 10px;
    font-family: "Manrope";
}

.i18n-block select {
    width: 42px;
    height: 60px;
    min-width: 36px;
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 8px;
    background-color: transparent;
    border-color: transparent;
    text-align: right;
    padding: 0 4px 0 0;
    font-weight: var(--fw-bold);
}

/* @元件-按鈕 primary---------------------------------------------------------------------------------------------- */
button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 16px;

    width: 100%;
    height: 40px;
    max-height: 40px;
    margin-bottom: 16px;

    /* primary */
    background: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 10px;
    cursor: pointer;
    font-family: "Manrope";
    font-weight: var(--fw-bold);
    box-shadow: 0 0 8px 0 var(--sec-gray);
}

button.btn-sec {
    background: var(--white);
    color: var(--txt-default);
    border: 1px solid var(--sec-gray);
}

/* @圖示-icon ---------------------------------------------------------------------------------------------- */
i {
    width: 36px;
    height: 36px;
    min-width: 36px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    cursor: pointer;
}

.card_content i {
    margin-right: 16px;
    margin-bottom: 32px;
    border-radius: 8px;
    background-color: var(--thir-gray);
}

.i-rating {
    background-image: url("images/i-Rating.svg");
}

.i-total {
    background-image: url("images/i-RatingsTotal.svg");
}

.i-vicinity {
    background-image: url("images/i-Vicinty.svg");
}

.i-phone {
    background-image: url("images/i-Phone.svg");
}

.i-website {
    background-image: url("images/i-Website.svg");
}

.i-map {
    background-image: url("images/i-Map.svg");
}

.review_content i {
    width: 22px;
    height: 22px;
}

.i-user {
    background-image: url("images/i-user.svg");
}

.i-logout {
    background-image: url("images/i-Logout.svg");
}

.i-language {
    background-image: url("images/i-Language.svg");
}

.i-password {
    background-image: url("images/i-eye-s.svg");
    position: absolute;
    top: 10px;
    right: 4px;
}

input[type="password"] + i {
    background-image: url("images/i-eye.svg");
}

.i-cancel {
    background-image: url("images/i-X.svg");
    position: absolute;
    top: 10px;
    right: 2px;
}


/* @圖示-image ---------------------------------------------------------------------------------------------- */
img {
    width: 100%;
    z-index: 0;
    pointer-events: none;
    background-repeat: no-repeat;
}

.img-open {
    background-image: url("images/img-open.png");
    width: 222px;
    height: 222px;
}

.img-bg-top-L {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 648px;
    background-size: cover;
}

.img-bg-top-R {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 122px;
}

.img-bg-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 100%;
    background-size: contain;
}
